body {
    margin: 0;
    font-family: Arial;
    margin: 0 auto;
    width: 1280px;
    border: 1px solid grey;
    box-sizing: border-box;
}

.paddingSite {
    padding: 50px;
    box-sizing: border-box;
}

.pageHeader {
    width: 100%;
    background-color: #445161;
    color: #ffffff;
}

.pageHeader:after,
.about:after {
    content: "";
    display: block;
    clear: both;
}

.pageHeaderWrp {
    float: left;
}

.pageHeaderTitle {
    display: block;
    margin: 0;
    font-size: 59px;
    line-height: 44px;
    font-weight: normal;
    margin: 0 0 41px 0;
}

.pageHeaderList {
    margin: 0;
    list-style: none;
    padding: 0 0 0 0;
    font-size: 20px;
    line-height: 1.8;
}

.pageHeaderListItem:before {
    content: "";
    display: inline-block;

    width: 25px;
    height: 19px;
    padding-right: 10px;
    background: url(../img/check-icon.png) no-repeat;
}

.pageHeaderPic {
    display: block;
    float: right;
    width: 469px;
    min-height: 100px;
    background-color: #fff;
}

.about {
    background-color: #ffffff;
    color: #445161;
}

.aboutWrp {
    float: left;
    max-width: 670px;
}

.sectionTitle {
    font-size: 28px;
    line-height: 30px;
    margin: 0 0 26px 0;
    font-weight: normal;
    color: #445161;
}

.aboutP {
    margin: 0 0 12px 0;
    font-size: 16px;
    line-height: 1.5em;
}

.aboutP:last-child {
    margin: 0;
}

.aboutPic {
    display: block;
    float: right;
    width: 430px;
    min-height: 100px;
    background-color: #445161;
}

.dignity {
    background-color: #f5f5f5;
    padding-bottom: 25px;
}

.dignityTitle,
.screenTitle {
    display: flex;
    justify-content: center;
}

.dignityList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dignityList li {
    list-style: none;
    font-size: 16px;
    line-height: 1.5em;
    max-width: 50%;
    position: relative;
    padding: 0 0 0 42px;
    box-sizing: border-box;
    margin: 0 0 25px 0;

}

.dignityList li::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/plus-icon.png) center center no-repeat;
    background-color: #445161;
    position: absolute;
    left: 0;
    top: 4px;
}

.screenshots {
    padding: 50px 50px 25px 50px;
    box-sizing: border-box;
}

.screenWrp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.screenFig {
    padding: 0 15px 0 0;
    margin: 0 0 20px 0;
    max-width: 50%;
    box-sizing: border-box;

}

.screenFigPic {
    display: block;
    float: left;
    width: 200px;
    background-color: #445161;
    margin: 0 10px 0 0;
}

.screenFigTitle {
    margin: 0 0 8px 0;
    font-size: 24px;
    color: #445161;
    line-height: 1.25em;
    font-weight: normal;
}

.screenFig p {
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}


.reviews {
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 26px;

}

.reviews-title,
.buy-title {
    width: 100%;
    text-align: center;

}

.reviews-item {
    display: flex;
    justify-content: space-between;
    width: 574px;
    box-sizing: border-box;
    margin: 0 0 24px 0;
}

.reviews-item-userpic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #445161;
}

.review-item-text {
    background-color: #ebebeb;
    margin: 0;
    padding: 16px 20px 6px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    font-style: italic;
    line-height: 1.29;
    width: 480px;
    position: relative;
}

.review-item-text::before {
    content: "";
    display: block;
    border: 15px solid transparent;
    border-right: 15px solid #ebebeb;
    ;
    position: absolute;
    top: 23px;
    left: -29px;
}

.review-item-author {
    display: block;
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 1.29;
    color: #989898;
    font-style: normal;

}

.buy {
    padding: 50px 145px 50px 145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.buy span {
    display: block;
}

.buy-unit {
    background-color: #445162;
    border-radius: 10px;
    width: 300px;
}

.buy-unit-header {
    font-size: 24px;
    line-height: 1.25;
    color: #ffffff;
    padding: 16px 0 16px 0;
    text-align: center;

}

.buy-unit-price {
    font-size: 40px;
    line-height: 0.75;
    text-align: center;
    color: #445162;
    background-color: #ffffff;
    padding: 18px 0 18px 0;
    border-right: 2px solid #445162;
    border-left: 2px solid #445162;
    box-sizing: border-box;

}

.buy-unit-wrap {
    padding: 20px;
}

.buy-unit-list {
    margin: 0;
    padding: 0;

}

.buy-unit-list li {
    list-style-position: inside;
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
}

.buy-unit-button {
    display: flex;
    height: 40px;
    width: 260px;
    background-color: #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #445161;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.buy-unit-button:hover {
    background-color: lightgrey;
    color: ivory;
}

.buy-unit-button:active {
    background-color: lightgrey;
    color: rgb(82, 82, 59);
    box-shadow: inset 0px 0px 5px black;
}

footer {
    background-color: #445162;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 240px;
}

.contacts-title {
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.contacts-form {
    width: 500px;
    text-align: center;
}

.contacts-form-field,
.contacts-form-field::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.contacts-form-field {
    width: 100%;
    padding: 6px 10px;
    margin-bottom: 21px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    color: #445162;
    outline: none;
}

.contacts-form-field::placeholder {
    color: #445162;
}

textarea.contacts-form-field {
    resize: none;
    height: 170px;
}

.contacts-form-field:focus {
    border-color: black;
}

.contacts-form-submit {
    text-transform: uppercase;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #445162;
    border: none;
}

.contacts-social {
    width: 240px;
    margin-left: 46px;
}

.contacts-social-list {
    list-style: none;
    margin: 0;
    padding: 8px 0 0 0;

}

.contacts-social-list li {
    padding-left: 30px;
    padding-bottom: 18px;
}

.contacts-social-list a {
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    position: relative;

}

.contacts-social-list-pic::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    top: -5px;
    left: -30px;
}

.skype::before {
    background: url(../img/social-buttons/skype-icon.png) center center no-repeat;

}


.icq::before {
    background: url(../img/social-buttons/icq-icon.png) center center no-repeat;

}

.email::before {
    background: url(../img/social-buttons/email-icon.png) center center no-repeat;

}

.phone::before {
    background: url(../img/social-buttons/phone-icon.png) center center no-repeat;

}



/* Вообще наверное подключение шрифта надо бы положить в шапку, но в данном случае он нигде больше не используется и пусть уже полежит тут. */

@font-face {
    font-family: socialico;
    src: url(../fonts/socialico/Socialico-Regular.woff);
}

.contacts-social-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contacts-social-links a {
    font-family: socialico;
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 60px;

}